<style>
  pre {
    font-size: 16px;
  }

  h1 {
    margin-block-start: 0;
  }

  main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 1rem;
    max-height: 90vh;
  }
  main > hr {
    margin: 1rem;
  }
  section,
  section > div {
    width: 250px;
  }
  section {
    padding: 0;
    margin: 0;
  }
  section > div {
    border: solid black 1px;
    padding: 5px;
  }

  .inter {
    .google {
      font-family: var(--font-inter-google);
    }
    .fontsource {
      font-family: var(--font-inter-fontsource);
    }
    .bunny {
      font-family: var(--font-inter-bunny);
    }
    .bunny-weight-range-numbers {
      font-family: var(--font-inter-bunny-weight-range-numbers);
    }
    .bunny-weight-range-string {
      font-family: var(--font-inter-bunny-weight-range-string);
    }
  }

  .plex {
    .google {
      font-family: var(--font-ibm-plex-mono-google);
    }
    .google-weight-range {
      font-family: var(--font-ibm-plex-mono-google-weight-range);
    }
    .bunny {
      font-family: var(--font-ibm-plex-mono-bunny);
    }
    .bunny-weight-range {
      font-family: var(--font-ibm-plex-mono-bunny-weight-range);
    }
    .fontsource {
      font-family: var(--font-ibm-plex-mono-fontsource);
    }
    .fontsource-weight-range {
      font-family: var(--font-ibm-plex-mono-fontsource-weight-range);
    }
  }

  .w100 {
    font-weight: 100;
  }
  .w200 {
    font-weight: 200;
  }
  .w300 {
    font-weight: 300;
  }
  .w400 {
    font-weight: 400;
  }
  .w500 {
    font-weight: 500;
  }
  .w600 {
    font-weight: 600;
  }
  .w700 {
    font-weight: 700;
  }
  .w800 {
    font-weight: 800;
  }
  .w900 {
    font-weight: 900;
  }
</style>

<main>
  <section class="inter">
    <h1>Inter - No Weight Range</h1>
    <div>
      <span>✅ all 9 weights</span>
      <p class="google w100">Inter – Google 100</p>
      <p class="google w200">Inter – Google 200</p>
      <p class="google w300">Inter – Google 300</p>
      <p class="google w400">Inter – Google 400</p>
      <p class="google w500">Inter – Google 500</p>
      <p class="google w600">Inter – Google 600</p>
      <p class="google w700">Inter – Google 700</p>
      <p class="google w800">Inter – Google 800</p>
      <p class="google w900">Inter – Google 900</p>
    </div>
    <div>
      <span>✅ all 9 weights</span>
      <p class="fontsource w100">Inter – Fontsource 100</p>
      <p class="fontsource w200">Inter – Fontsource 200</p>
      <p class="fontsource w300">Inter – Fontsource 300</p>
      <p class="fontsource w400">Inter – Fontsource 400</p>
      <p class="fontsource w500">Inter – Fontsource 500</p>
      <p class="fontsource w600">Inter – Fontsource 600</p>
      <p class="fontsource w700">Inter – Fontsource 700</p>
      <p class="fontsource w800">Inter – Fontsource 800</p>
      <p class="fontsource w900">Inter – Fontsource 900</p>
    </div>
    <div>
      <span
        >⚠️ supports 2 weights. Possibly as-documented, but not consistent with
        other providers.</span
      >
      <p class="bunny w100">Inter – Bunny 100</p>
      <p class="bunny w200">Inter – Bunny 200</p>
      <p class="bunny w300">Inter – Bunny 300</p>
      <p class="bunny w400">Inter – Bunny 400</p>
      <p class="bunny w500">Inter – Bunny 500</p>
      <p class="bunny w600">Inter – Bunny 600</p>
      <p class="bunny w700">Inter – Bunny 700</p>
      <p class="bunny w800">Inter – Bunny 800</p>
      <p class="bunny w900">Inter – Bunny 900</p>
    </div>
  </section>

  <section class="inter">
    <h1>Inter - Weight Range Specified <pre>[100, ..., 900]</pre></h1>
    <div>
      <span>✅ all 9 weights</span>
      <p class="bunny-weight-range-numbers w100">Inter – Bunny 100</p>
      <p class="bunny-weight-range-numbers w200">Inter – Bunny 200</p>
      <p class="bunny-weight-range-numbers w300">Inter – Bunny 300</p>
      <p class="bunny-weight-range-numbers w400">Inter – Bunny 400</p>
      <p class="bunny-weight-range-numbers w500">Inter – Bunny 500</p>
      <p class="bunny-weight-range-numbers w600">Inter – Bunny 600</p>
      <p class="bunny-weight-range-numbers w700">Inter – Bunny 700</p>
      <p class="bunny-weight-range-numbers w800">Inter – Bunny 800</p>
      <p class="bunny-weight-range-numbers w900">Inter – Bunny 900</p>
    </div>
  </section>

  <section class="inter">
    <h1>Inter - Weight Range Specified <pre>["100 900"]</pre></h1>
    <div>
      <span>❌ font doesn't work at all</span>
      <p class="bunny-weight-range-string w100">
        Inter – Bunny (String Weights) 100
      </p>
      <p class="bunny-weight-range-string w200">
        Inter – Bunny (String Weights) 200
      </p>
      <p class="bunny-weight-range-string w300">
        Inter – Bunny (String Weights) 300
      </p>
      <p class="bunny-weight-range-string w400">
        Inter – Bunny (String Weights) 400
      </p>
      <p class="bunny-weight-range-string w500">
        Inter – Bunny (String Weights) 500
      </p>
      <p class="bunny-weight-range-string w600">
        Inter – Bunny (String Weights) 600
      </p>
      <p class="bunny-weight-range-string w700">
        Inter – Bunny (String Weights) 700
      </p>
      <p class="bunny-weight-range-string w800">
        Inter – Bunny (String Weights) 800
      </p>
      <p class="bunny-weight-range-string w900">
        Inter – Bunny (String Weights) 900
      </p>
    </div>
  </section>

  <section class="plex">
    <h1>IBM Plex Mono - No Weight Range</h1>
    <div>
      <span>✅ supports 2 weights, as-documented. consistent.</span>
      <p class="google w100">Plex – Google 100</p>
      <p class="google w200">Plex – Google 200</p>
      <p class="google w300">Plex – Google 300</p>
      <p class="google w400">Plex – Google 400</p>
      <p class="google w500">Plex – Google 500</p>
      <p class="google w600">Plex – Google 600</p>
      <p class="google w700">Plex – Google 700</p>
      <p class="google w800">Plex – Google 800</p>
      <p class="google w900">Plex – Google 900</p>
    </div>
    <div>
      <span>✅ supports 2 weights, as-documented. consistent.</span>
      <p class="fontsource w100">Plex – Fontsource 100</p>
      <p class="fontsource w200">Plex – Fontsource 200</p>
      <p class="fontsource w300">Plex – Fontsource 300</p>
      <p class="fontsource w400">Plex – Fontsource 400</p>
      <p class="fontsource w500">Plex – Fontsource 500</p>
      <p class="fontsource w600">Plex – Fontsource 600</p>
      <p class="fontsource w700">Plex – Fontsource 700</p>
      <p class="fontsource w800">Plex – Fontsource 800</p>
      <p class="fontsource w900">Plex – Fontsource 900</p>
    </div>
    <div>
      <span>✅ supports 2 weights, as-documented. consistent.</span>
      <p class="bunny w100">Plex – Bunny 100</p>
      <p class="bunny w200">Plex – Bunny 200</p>
      <p class="bunny w300">Plex – Bunny 300</p>
      <p class="bunny w400">Plex – Bunny 400</p>
      <p class="bunny w500">Plex – Bunny 500</p>
      <p class="bunny w600">Plex – Bunny 600</p>
      <p class="bunny w700">Plex – Bunny 700</p>
      <p class="bunny w800">Plex – Bunny 800</p>
      <p class="bunny w900">Plex – Bunny 900</p>
    </div>
  </section>

  <section class="plex">
    <h1>IBM Plex Mono - Weight Range Specified <pre>[100, ..., 900]</pre></h1>

    <div>
      <span>✅ all 9 weights</span>
      <p class="google-weight-range w100">Plex – Google 100</p>
      <p class="google-weight-range w200">Plex – Google 200</p>
      <p class="google-weight-range w300">Plex – Google 300</p>
      <p class="google-weight-range w400">Plex – Google 400</p>
      <p class="google-weight-range w500">Plex – Google 500</p>
      <p class="google-weight-range w600">Plex – Google 600</p>
      <p class="google-weight-range w700">Plex – Google 700</p>
      <p class="google-weight-range w800">Plex – Google 800</p>
      <p class="google-weight-range w900">Plex – Google 900</p>
    </div>
    <div>
      <span>✅ all 9 weights</span>
      <p class="fontsource-weight-range w100">Plex – Fontsource 100</p>
      <p class="fontsource-weight-range w200">Plex – Fontsource 200</p>
      <p class="fontsource-weight-range w300">Plex – Fontsource 300</p>
      <p class="fontsource-weight-range w400">Plex – Fontsource 400</p>
      <p class="fontsource-weight-range w500">Plex – Fontsource 500</p>
      <p class="fontsource-weight-range w600">Plex – Fontsource 600</p>
      <p class="fontsource-weight-range w700">Plex – Fontsource 700</p>
      <p class="fontsource-weight-range w800">Plex – Fontsource 800</p>
      <p class="fontsource-weight-range w900">Plex – Fontsource 900</p>
    </div>
    <div>
      <span>✅ all 9 weights</span>
      <p class="bunny-weight-range w100">Plex – Bunny 100</p>
      <p class="bunny-weight-range w200">Plex – Bunny 200</p>
      <p class="bunny-weight-range w300">Plex – Bunny 300</p>
      <p class="bunny-weight-range w400">Plex – Bunny 400</p>
      <p class="bunny-weight-range w500">Plex – Bunny 500</p>
      <p class="bunny-weight-range w600">Plex – Bunny 600</p>
      <p class="bunny-weight-range w700">Plex – Bunny 700</p>
      <p class="bunny-weight-range w800">Plex – Bunny 800</p>
      <p class="bunny-weight-range w900">Plex – Bunny 900</p>
    </div>
  </section>
</main>
